/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


// LAYERS
// ====================================================
#define BASE    	0
#define NUMBERS 	1
#define NAVIGATION 	2
#define HFREQ 		3
#define FUNCTION    4
#define BLE		5


// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };
// Sticky Layer Behavior - release sticky behavior after x ms
&sk { release-after-ms = <1800>; };
&mt { tapping-term-ms = <400>; };

// TAIPO DEFINITIONS (use in conjunction with TAIPO COMBOS)
// ====================================================
// ZMK forces you to define combos in terms of HW key positions
/*
	.-----------------------------------------------------------.
	|  0  |  1  |  2  |  3  |           |  4  |  5  |  6  |  7  |
	|  8  |  9  |  10 |  11 |           |  12 |  13 |  14 |  15 |
	|  16 |-----|  17 |  18 |           |  19 |  20 |-----|  21 |
	'-----'     '-----------------------------------'     '-----'
*/
// {Top,Bottom}{Left,Right}{Index,Middle,Ring,Pinky}

// LEFT SIDE
// Top
#define LTI 3  // Index
#define LTM 2  // Middle
#define LTR 1  // Ring
#define LTP 0  // Pinky
// Bottom
#define LBI 11 // Index
#define LBM 10 // Middle
#define LBR 9  // Ring
#define LBP 8  // Pinky

#define LIT 18 //Left Inner Thumb
#define LOT 17 //Left Outer Thumb

// RIGHT SIDE
// Top
#define RTI 4  // Index
#define RTM 5  // Middle
#define RTR 6  // Ring
#define RTP 7  // Pinky
// Bottom
#define RBI 12 // Index
#define RBM 13 // Middle
#define RBR 14 // Ring
#define RBP 15 // Pinky

#define RIT 19 //Right Inner Thumb
#define ROT 20 //Right Outer Thumb

// BEHAVIOR
// ====================================================

/{
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};
	};


// COMBOS
// ====================================================
/*
	.-----------------------------------------------------------.
	|  0  |  1  |  2  |  3  |           |  4  |  5  |  6  |  7  |
	|  8  |  9  |  10 |  11 |           |  12 |  13 |  14 |  15 |
	|  16 |-----|  17 |  18 |           |  19 |  20 |-----|  21 |
	'-----'     '-----------------------------------'     '-----'
*/
// ARTSEY COMBOS
// name of the combo, output of the combo, input for the combo, applied on which layers
	#define COMBO(NAME, BINDINGS, KEYPOS, LAYER) \
	combo_##NAME { \
		timeout-ms = <120>; \
		bindings = <BINDINGS>; \
		key-positions = <KEYPOS>; \
		layers = <LAYER>; \
	};

   combos {
        compatible = "zmk,combos";
		// LEFT SIDE
		/***************
		* 2 key combos
		****************/

		//HORIZONTAL
		COMBO(L1,&kp W,LTP LTR, 0)				//W
		COMBO(L2,&kp M,LTR LTM, 0)				//M
		COMBO(L3,&kp B,LTM LTI, 0)				//B
		COMBO(L4,&kp P,LBM LBI, 0)				//P
		COMBO(L5,&kp F,LBR LBM, 0)				//F

		//VERTICAL
		COMBO(L6,&kp LBRC,LTR LBR, 0)			//{
		COMBO(L7,&kp LBKT,LTM LBM, 0)			//[
		COMBO(L8,&kp LPAR,LTI LBI, 0)			//(

		//OBLIQUE
		COMBO(L9,&kp K,LTM LBI, 0)				//K
		COMBO(L10,&kp MINUS,LTR LBM, 0)			//-
		COMBO(L11,&kp LT,LTR LBI, 0)			//<
		

		/***************
		* 3 key combos
		****************/
		COMBO(L6,&kp ESC,LTR LTM LTI  ,0 1 2 3 4 5)		//ESC

		/***************
		* 4 key combos
		****************/

		// RIGHT SIDE
		/***************
		* 2 key combos
		****************/
		//HORIZONTAL
		COMBO(R1,&kp DOT,RTP RTR, 0)			//.
		COMBO(R2,&kp COMMA,RTR RTM, 0)			//,
		COMBO(R3,&kp V,RTM RTI, 0)				//V
		COMBO(R4,&kp X,RBM RBI, 0)				//X
		COMBO(R5,&kp J,RBR RBM, 0)				//J

		//VERTICAL
		COMBO(R6,&kp RBRC,RTR RBR, 0)			//}
		COMBO(R7,&kp RBKT,RTM RBM, 0)			//]
		COMBO(R8,&kp RPAR,RTI RBI, 0)			//)

		//OBLIQUE
		COMBO(R9,&kp GT,RTR RBI, 0)				//>
		COMBO(R10,&kp SEMI,ROT RBM, 0)			//;
		COMBO(R11,&kp COLON,ROT RBI, 0)			//:

		/***************
		* 3 key combos
		****************/
		COMBO(R12,&kp BACKSPACE, RTI RTM RTR, 0 1 2 3 4 5) 	//BACKSPACE
		COMBO(R13,&kp ENTER, RBI RBM RBR, 0 1 2 3 4 5)		//ENTER
		/***************
		* 4 key combos
		****************/

   };

// KEYMAP
// ====================================================

/*  0 = Base
	.-----------------------------------------------------------.
	|  R  |  S  |  T  |  H  |	    	|  N  |  A  |  I  |  O  |
	|  Q  |  C  |  G  |  D  |           |  L  |  U  |  Y  |  Z  |
	|  =  |-----|  '  |SPACE|           |  E  |	TAB |-----|  /  |
	'-----'     '-----------------------------------'     '-----'
*/
	keymap {
		compatible = "zmk,keymap";

		// LAYER: BASE 0
		default_layer {
			label = "Base";
			bindings = <
			&mt LGUI R	&mt LALT S	&mt LCTRL T	&mt LSHIFT H	&mt RSHIFT N	&mt RCTRL A	&mt RALT I	&mt LGUI O
			&kp Q		&kp C       	&kp G		&kp D     	&kp L 		&kp U  		&kp Y       	&kp Z
			&kp EQUAL        &lt FUNCTION APOS   &lt HFREQ SPACE   &lt NAVIGATION E  &lt NUMBERS TAB	&sk RALT
			>;
		};

// -----------------------------------------------------------------------------

/*  1 = Numbers
	.-----------------------------------------------------------.
	|  1  |  2  |  3  |  4  |           |  5  |  6  |  7  |  8  |
	|  +  |  -  |  *  |  =  |           |  9  |  0  |  .  |  ,  |
	|LCTRL|-----|LSHFT|SPACE|           |ENTER|	TAB |-----| LALT|
	'-----'     '-----------------------------------'     '-----'
*/
        // LAYER: NUMBERS 1
		numbers_layer {
			label = "Numbers";
			bindings = <
			&kp N1      &kp N2      &kp N3      &kp N4         &kp N5     &kp N6      &kp N7      &kp N8
			&kp PLUS    &kp MINUS   &kp ASTRK   &kp EQUAL      &kp N9     &kp N0      &kp DOT     &kp COMMA
			&kp LCTRL               &kp LSHIFT  &kp SPACE      &kp E      &kp TAB                 &kp LGUI     
			>;
		};
// -----------------------------------------------------------------------------

/*  2 = Navigation
	.-----------------------------------------------------------.
	|  F1 |  F2 |  F3 |  F4 |           |HOME |  UP | END | PgU |
	|  F5 |  F10|  F11|  F12|           |  <- |DOWN |  -> | PgD |
	|  16 |-----|  17 |  18 |           |  19 |  20 |-----|  21 |
	'-----'     '-----------------------------------'     '-----'
*/
        // LAYER: NAVIGATION 2
		navigation_layer {
			label = "Navigation";
			bindings = <
			&kp F1     &kp F2       &kp F3      &mt RALT F4    &kp HOME        &kp UP      &kp END    &kp LC(PG_UP)
			&kp F5     &kp F10      &kp F11     &kp F12        &kp LEFT       &kp DOWN    &kp RIGHT   &kp LC(PG_DN)
			&to BASE                &kp LCTRL   &kp LSHIFT     &kp LSHIFT     &kp LCTRL               &to BASE     
			>;
		};
// -----------------------------------------------------------------------------

/*  3 = High Frequency
	.-----------------------------------------------------------.
	|  -  | {[  |  (  |  =  |           |     |  )  |  ]} |  ;  |
	|  !  |  @  |  #  |  $  |           |  %  |  &  |  *  |  '  |
	|  \  |-----|LCTRL|SHIFT|           |SHIFT|LCTRL|-----|  /  |
	'-----'     '-----------------------------------'     '-----'
*/
        // LAYER: HFREQ 3
		hfreq_layer {
			label = "HFreq";
			bindings = <
			&kp MINUS   &kp LBKT  &kp LPAR    &kp EQUAL    &none       &kp RPAR    &kp RBKT   &kp SEMI 
			&kp EXCL    &kp AT    &kp HASH    &kp DLLR     &kp PRCNT   &kp AMPS    &kp ASTRK  &kp APOS
			&kp BSLH              &kp LCTRL   &kp LSHIFT   &kp LSHIFT  &kp LCTRL              &kp FSLH     
			>;
		};
// -----------------------------------------------------------------------------

/*  4 = Function
	.-----------------------------------------------------------.
	|  0  |  1  |  2  |  3  |           |  4  |  5  |  6  |  7  |
	|  8  |  9  |  10 |  11 |           |  12 |  13 |  14 |  15 |
	|  16 |-----|  17 |  18 |           |  19 |  20 |-----|  21 |
	'-----'     '-----------------------------------'     '-----'
*/
        // LAYER: Function 4
		function_layer {
			label = "Funct";
			bindings = <
			&kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7     &kp F8 
			&kp F9      &kp F10     &kp F11     &kp F12     &none       &none       &none      &none
			&to BASE              &kp LCTRL   &kp LSHIFT    &kp LSHIFT  &kp LCTRL              &to BASE     
			>;
		};
// -----------------------------------------------------------------------------

/*  5 = Bluetooth (NOT USED)
	.-----------------------------------------------------------.
	|  0  |  1  |  2  |  3  |           |  4  |  5  |  6  |  7  |
	|  8  |  9  |  10 |  11 |           |  12 |  13 |  14 |  15 |
	|  16 |-----|  17 |  18 |           |  19 |  20 |-----|  21 |
	'-----'     '-----------------------------------'     '-----'
*/
        // LAYER: BLUETOOTH 5
		ble_layer {
			label = "BLE";
			bindings = <
			&bt BT_NXT       &bt BT_SEL 1   &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 1     &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_NXT
			&bt BT_PRV       &sys_reset    	&bootloader	 &bt BT_CLR           &bt BT_CLR       &bootloader     &sys_reset      &bt BT_PRV 
			&to BASE                        &kp LCTRL   &kp LSHIFT            &kp LSHIFT       &kp LCTRL                       &to BASE     
			>;
		};
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
    };
};
`
